.product-title {
    margin-top: 20px;
    margin-bottom: 10px;
    color: #333;
  }
  
  .product-author {
    margin-bottom: 10px;
    color: #333;
  }
  
  .product-price {
    margin-bottom: 10px;
    color: #333;
    font-weight: bold;
  }
  
  .product-description {
    margin-bottom: 20px;
    color: #333;
  }
  
  .add-to-cart-btn {
    margin-top: 20px;
    float: right;
  }
  