.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.slide-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.image-container {
  width: 50%; /* Adjust as needed */
}

.image-container img {
  width: 100%;
}

.text-container {
  width: 40%; /* Adjust as needed */
}


.slider-animated-2-left {
  opacity: 0;
  transform: translateX(-100%);
  animation: slideFromLeft 1s ease-out forwards;
}

.slider-animated-2-right {
  opacity: 0;
  transform: translateX(100%);
  animation: slideFromRight 1s ease-out forwards;
}

@keyframes slideFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  50% {
    opacity: 0;
    transform: translateX(0);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideFromRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  50% {
    opacity: 0;
    transform: translateX(0);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
