.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.slide-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.image-container {
  width: 50%; /* Adjust as needed */
}

.image-container img {
  width: 100%;
}

.text-container {
  width: 40%; /* Adjust as needed */
}


.slider-animated-2-left {
  opacity: 0;
  transform: translateX(-100%);
  animation: slideFromLeft 1s ease-out forwards;
}

.slider-animated-2-right {
  opacity: 0;
  transform: translateX(100%);
  animation: slideFromRight 1s ease-out forwards;
}

@keyframes slideFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  50% {
    opacity: 0;
    transform: translateX(0);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideFromRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  50% {
    opacity: 0;
    transform: translateX(0);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.video-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.5);
  width: 80%;
  max-width: 600px;
  height: auto;
  overflow-y: auto;
  padding: 20px;
  box-sizing: border-box;
}

.react-player-wrapper {
  position: relative;
  padding-top: 56.25%; /* 16:9 aspect ratio (height/width * 100) */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.react-player-wrapper {
  position: relative;
  padding-top: 56.25%; /* 16:9 aspect ratio */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important; /* Ensure video fills entire container */
  height: 100% !important; /* Ensure video fills entire container */
}

.react-player-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 aspect ratio (9 / 16 * 100%) */
  height: 0;
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
}


.login-form-container {
  background: transparent none repeat scroll 0 0;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
  padding: 80px;
  text-align: left;
}

@media (max-width: 768px) {
  .login-form-container {
    padding: 80px 50px;
  }
}

@media (max-width: 576px) {
  .login-form-container {
    padding: 40px 15px;
  }
}

.login-form-container {
  width: 400px;
  margin: 0 auto;
  padding: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.login-register-form form {
  display: flex;
  flex-direction: column;
}

.login-register-form form input {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
}

.login-register-form form .error {
  color: red;
  margin-bottom: 15px;
}

.button-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-box .login-toggle-btn {
  display: flex;
  align-items: center;
}

.button-box .login-toggle-btn label {
  margin-left: 10px;
  font-size: 14px;
}

.button-box .login-toggle-btn a {
  margin-left: auto;
  font-size: 14px;
  color: #007bff;
  text-decoration: none;
}

.button-box button {
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-box button:hover {
  background-color: #0056b3;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.close-btn {
  position: absolute;
  top: 10px; /* Adjust as needed */
  right: 10px; /* Adjust as needed */
  background: none;
  border: none;
  color: #333;
  font-size: 20px;
  cursor: pointer;
}

.audio-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.5);
  width: 80%;
  max-width: 600px;
  height: auto;
  overflow-y: auto;
  padding: 20px;
  box-sizing: border-box;
  background-color: white;
}

.bordered-container {
  display:flex;
  justify-content: center;
  align-items: center;
  border: 10px solid rgb(93, 23, 93);
  height: 400px; /* Adjust this height as needed to match your design */
  width: 80%;
  box-sizing: border-box;
  margin-left: -190px;
  box-shadow: 0 30px 30px 20px rgba(0, 0, 0, 0.2), 0 6px 6px rgba(0, 0, 0, 0.23); /* Stronger shadow */
  overflow: hidden; /* Ensure the image stays within the rounded corners */
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.bordered-img {
  width: 100%; /* Adjust width as needed */
  height: 320px; /* Adjust height as needed */
  max-width: 100%;
  max-height: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: -180px;
  padding-right: -150px;
}
.image-gallery {
  padding: 50px; /* Add some padding inside the gallery */
  border-radius: 10px; /* Optional: add rounded corners */
  
}
.spaced-pane {
  margin-bottom: 20px; /* Adjust as needed */
  margin-left: -10px;
  margin-right: -100px;

}
.image-gallery-container {
  padding-right: -350px;
  padding-left: 250px;
}
.container {
  max-width: 200%; /* Adjust based on your design */
  margin: 0 auto;
}
.image-container {
  margin-left: -300px;
  width: 200%; /* Default width */
}

@media (max-width: 768px) {
  .image-container {
    width: 200%; /* Width for mobile screens */
  }
  .call-back .container .bg .form button {
    width: 100%;
    margin-top: 50px; 
    margin-left: -300px;
    padding-bottom: -55px; 
    box-sizing: border-box; 
    margin-right: 15px;
  }
  .call-back .container .bg .form input {
    width: 400px; 
    height:50px ;
    margin-right: 0; 
    margin-bottom: 10px; 
    padding: 15px; 
    margin-top: 10px;

  }
  .call-back .container .bg .form {
    width: 200px; /* Ensure the input field takes full width */
    height:100px ;
    margin-right: 0; /* Reset margin for mobile layout */
    margin-bottom: 10px; /* Space between input and button */
    padding: 15px; /* Adjust padding for better touch experience */
    margin-top: 10px;
    margin-left: -50px;
    
  }
}

@media (min-width: 769px) {
  .image-container {
    width: 230%; /* Width for desktop screens */
  }
}
.part-btn{
  padding-bottom: 50px;
}
